* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* ADD A SANS SERIF DEFAULT FONT HERE(done) */
}

body {
  background-color: wheat;
  margin: 0;
  padding: 0;

  /* CHANGE THE BACKGROUND COLOR TO WHEAT(done) */
}

p,
img {
  margin-bottom: 20px;
}

h2 {
  font-family: serif;
  font-style: italic;
}

#container {
  width: 900px;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  border-left: 2px !important;
  border-left-color: lightgray !important;
  border-right: 2px !important;
  border-right-color: lightgrey !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
  border-style: solid !important;
  /* CHANGE THE BACKGROUND COLOR TO WHITE(done)
    AND ADD A LIGHT GREY BORDER ON THE LEFT AND RIGHT */
}

#header {
  padding: 20px;
  color: white;
  background-color: #79b5f1;
  /* CHANGE THE TEXT COLOR TO WHITE AND (done)
    THE BACKGROUND COLOR SHOULD BE #79b5f1 */
}

#nav {
  background-color: lightgray;
  height: 50px;
  vertical-align: top;
  display: flex;
  text-decoration: none;
  /* CHANGE THE BACKGROUND COLOR TO LIGHT GRAY
    REMOVE THE BULLET POINTS
    SHOULD YOU CHANGE THE WIDTH?
    WHAT ABOUT PADDING?
    DISPLAY THIS CONTAINER'S CHILDREN SIDE BY SIDE
    AND ALIGN THEM VERTICALLY  (done)*/
}

#nav a {
  text-decoration: none !important;
  display: flex;
  padding-top: 18px;
  padding-inline-start: 21px;

  /* REMOVE THE UNDERLINES(done)
    ADD SPACE BETWEEN THE LINKS */
}

main {
  padding: 20px;
}
